using NUnit.Framework;
using ${projectName};

namespace ${projectName}.UnitTests
{
	[TestFixture]
	public class ProjectInfoTests
	{
		[Test]
		public void TestProjectName()
		{
			Assert.AreEqual("${projectName}", ProjectInfo.ProjectName);
		}
	}
}
