<?xml version="1.0"?>
<properties>
	<Edit>true</Edit>
	<Files>true</Files>
	<LastModified>20080725095221</LastModified>
	<Properties>true</Properties>
	<RecentChanges>true</RecentChanges>
	<Refactor>true</Refactor>
	<Search>true</Search>
	<Versions>true</Versions>
	<WhereUsed>true</WhereUsed>
	<saveId>1216975941968</saveId>
	<ticketId>-7495218700028627274</ticketId>
</properties>
