@echo off
setlocal
set svnPath=C:\Program Files\CollabNet Subversion
set path=%path%;%svnPath%

if [%1]==[] (
    set comment="FitNesse Wiki Changes"
) else (
    set comment="%*"
)

echo.
echo ----------------------------------------
echo Synchronising FitNesse Changes
echo ----------------------------------------
pause

pushd FitNesse\FitNesseRoot

echo.
echo Removing deleted or moved pages
echo -------------------------------
for /f "usebackq tokens=2" %%i in (`"svn st | findstr !"`) do svn rm %%i

echo.
echo Adding new or moved pages
echo -------------------------
svn add --force .

rem commit - this won't do anything if nothing is to be committed

echo.
echo Commiting changes 
echo -----------------
svn commit -m %comment%

echo.
echo Getting changed pages from svn
echo ------------------------------
svn update

popd
echo.
echo -----------------------------------------
echo Done
echo -----------------------------------------
echo.
pause
