using NUnit.Framework;
using ${projectName}.Core;

namespace ${projectName}.UnitTests
{
	[TestFixture]
	public class TestApplicationInfo
	{
		[Test]
		public void TestApplicationName()
		{
			Assert.AreEqual("${projectName}", ApplicationInfo.ApplicationName);
		}
	}
}
