!1 Test Application Info
Simple test to check that FitNesse is wired up to the System Under Test

!path ..\build\Debug\FitFixtures\\${projectName}.FitFixtures.dll

!|Import|
|${projectName}.FitFixtures|

!|Check Application|
|Name?|
|${projectName}|
 