using System;
using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

//
// General Information about an assembly is controlled through the following 
// set of attributes. Change these attribute values to modify the information
// associated with an assembly.
//
[assembly: AssemblyTitle("${projectName} FIT Fixtures")]
[assembly: AssemblyDescription("Fitxtures for FIT accepance tests")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCulture("")]		

//
// Company and Product information is in SolutionInfo.cs
//

[assembly: CLSCompliant(false)]
[assembly: ComVisible(false)]		

//
// Version information is in VersionInfo.cs
//

//
// Signing information is in SolutionInfo.cs
//

