using System;
using fit;
using ${projectName}.Core;

namespace ${projectName}.FitFixtures
{
    public class CheckApplication: ColumnFixture{
        public string Name() {
            return ApplicationInfo.ApplicationName;
        }
    }
}
