<NUnitProject>
  <Settings activeconfig="Debug" />
  <Config name="Debug" appbase="build\Debug" binpathtype="Auto">
    <assembly path="${projectName}.Core.UnitTests\\${projectName}.Core.UnitTests.dll" />
    <assembly path="SQS.UnitTest.Framework\\SQS.UnitTest.Framework.dll" />
  </Config>
  <Config name="Release" appbase="build\Release" binpathtype="Auto" />
</NUnitProject>