<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="templateConfiguration">
			<section  name="templateSettings" type="ThoughtWorks.TreeSurgeon.Core.Configuration.TemplateSettings, ThoughtWorks.TreeSurgeon.Core" />
		</sectionGroup>
	</configSections>

	<templateConfiguration>
		<templateSettings resourceRoot=".">
			<velocityContext>
				<item name="coreGuid"			value="{GUID}" />
				<item name="guiGuid"			value="{GUID}" />
				<item name="unitTestGuid"		value="{GUID}" />
				<item name="consoleGuid"		value="{GUID}" />
				<item name="fitFixturesGuid"	value="{GUID}" />
				<item name="solutionItemsGuid"	value="{GUID}" />
				<item name="buildHelpersGuid"	value="{GUID}" />
				<item name="nantDeleteClause"	value="${directory::exists(build.dir)}" />
				<item name="unitTestFrameworkGuid"	value="{GUID}" />
			</velocityContext>
			<templates>
				<template name="2005"
						description="Visual Studio 2005 starter project" 
						>
					<skeletonDirectories>
						<directory path="resources\skeleton\Common" />
						<directory path="resources\skeleton\DotNet" />
					</skeletonDirectories>
					<templateDirectories>
						<directory path="resources\templates\2005" />
						<directory path="resources\templates\Common" />
					</templateDirectories>
				</template>
				<template name="2008"
						description="Visual Studio 2008 starter project"
						 >
					<skeletonDirectories>
						<directory path="resources\skeleton\Common" />
						<directory path="resources\skeleton\DotNet" />
					</skeletonDirectories>
					<templateDirectories>
						<directory path="resources\templates\2008" />
						<directory path="resources\templates\Common" />
					</templateDirectories>
				</template>
				<template name="JavaAnt"
						description="Java starter project with Ant builder"
						 >
					<skeletonDirectories>
						<directory path="resources\skeleton\Common" />
						<directory path="resources\skeleton\Java\Ant" />
					</skeletonDirectories>
					<templateDirectories>
						<directory path="resources\templates\Java\Ant" />
						<directory path="resources\templates\Common" />
					</templateDirectories>
				</template>
				<template name="VS 2005 Project"
					description="Visual Studio 2005 starter project" 
					 >
					<skeletonDirectories/>
					<templateDirectories>
						<directory path="resources\templates\2005Project" />
					</templateDirectories>
				</template>
			</templates>
		</templateSettings>
	</templateConfiguration>
</configuration>