<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<templateConfiguration>
    <velocityContext>
      <item name="sample"			value="sampleValue" />
    </velocityContext>
    <templateSettings>
			<templates>
				<template name="Sample"	description="Sample project" >
					<skeletonDirectories>
						<directory path="resources\skeleton\Sample" />
					</skeletonDirectories>
					<templateDirectories>
						<directory path="resources\templates\Sample" />
					</templateDirectories>
				</template>
			</templates>
		</templateSettings>
	</templateConfiguration>
</configuration>