using System;
using System.Reflection;
using System.Runtime.InteropServices;
using System.Security.Permissions;

//
// General Information about an assembly is controlled through the following 
// set of attributes. Change these attribute values to modify the information
// associated with an assembly.
//
[assembly: AssemblyTitle("${projectName} UnitTest Framework")]
[assembly: AssemblyDescription("Unit Test Helper Framework for ${projectName}")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCulture("")]
[assembly: SecurityPermission(SecurityAction.RequestMinimum)] 

//
// Company and Product information is in SolutionInfo.cs
//

[assembly: CLSCompliant(true)]
[assembly: ComVisible(false)]		

//
// Version information is in VersionInfo.cs
//

//
// Signing information is in SolutionInfo.cs
//

