using System;
using NUnit.Framework;
using ${projectName}.Core;

namespace ${projectName}.Core.UnitTests {
	[TestFixture]
	public class SystemClockTests {

		[SetUp]
		public void SetUp() {
			SystemClock.Reset();
		}

		[Test]
		public void SystemClockNowReturnsDataTimeNowByDefault() {
			Assert.AreEqual(DateTime.Now, SystemClock.Now);
		}

		[Test]
		public void CanFixTimeOnSystemClock() {
			SystemClock.Set(new DateTime(2003, 04, 05));
			Assert.AreEqual(new DateTime(2003, 04, 05), SystemClock.Now);
		}

		[Test]
		public void CanResetTimeOnSystemClock() {
			SystemClock.Set(new DateTime(2003, 04, 05));
			SystemClock.Reset();
			Assert.AreEqual(DateTime.Now, SystemClock.Now);
		}



	}
}
